.main-container {
    width: 600px;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    /* center */
    margin: 50px auto;
}

.title {
    margin-top: 15px;
    font-size: 40px;
}

.start-game {
    background-color: rgb(246, 138, 138);
    color: white;
    font-weight: 900;
    padding: 20px;
}

.start-game:hover {
    background-color: rgb(199, 47, 47);
}